.container {
    padding-top: 60px;
    height: 900px;
    max-height: calc(100vh - 60px);
    background-image: url("../../assets/images/headers/home-header.jpg");
    background-size: cover;
}

.overlay {
    position: relative;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay);
}

.logo {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.wave {
    position: absolute;
    bottom: 0;
    transform: translateY(1px);
}

@media (max-width: 767px) {
    .container {
        padding-top: 50px;
    }
}
