.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleText {
    font-size: 30px;
    font-weight: 800;
    color: var(--rose);
}

.title svg {
    font-size: 25px;
    color: var(--grey);
    transition: 0.3s;
}

.title svg:hover {
    cursor: pointer;
    color: var(--rose);
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.contentImage {
    border-top: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-radius: 0 10px 0 10px;
}

.contentImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 10px 0 10px;
}

.contentData {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentDataText {
    padding: 0 20px 0 0;
    color: var(--grey);
}

.contentDataText span {
    font-weight: 800;
    color: var(--rose);
}

.contentDataNumbers {
    padding: 0 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.contentDataNumbersElement {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contentDataNumbersElement svg {
    width: 20px;
    font-size: 20px;
    color: var(--rose);
}

.contentDataNumbersElement p {
    color: var(--grey);
}
