.container {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: 800;
}

.images {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.imagesBefore,
.imagesAfter {
    height: calc(100% - 60px);
    width: 100%;
    position: absolute;
}

.imagesBefore img,
.imagesAfter img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
}

.bar {
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.barText {
    font-weight: 800;
    color: var(--rose);
}

.bar input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 25px;
}

.bar input:hover {
    cursor: pointer;
}

.bar input::-webkit-slider-runnable-track {
    height: 15px;
    background-color: #ddd;
    border-radius: 25px;
    box-shadow: 0 0 2px black;
}

.bar input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--rose);
    cursor: grab;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

.bar input::-webkit-slider-thumb:active {
    cursor: grabbing;
}
