.container {
    position: relative;
    height: 400px;
}

.images {
    height: calc(100% - 40px);
    border: 1px solid var(--grey);
    border-radius: 15px;
}

.imagesBefore,
.imagesAfter {
    height: calc(100% - 40px);
    width: 100%;
    position: absolute;
}

.imagesBefore img,
.imagesAfter img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.bar {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.barText {
    font-weight: 800;
    color: var(--rose);
}

.bar input {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    border-radius: 25px;
}

.bar input:hover {
    cursor: pointer;
}

.bar input::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 25px;
}

.bar input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: var(--rose);
    cursor: grab;
    border-radius: 50%;
}

.bar input::-webkit-slider-thumb:active {
    cursor: grabbing;
}
