.container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titleMain {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.titleMain p {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.titleMain hr {
    border: 2px solid var(--rose);
}

.titleText {
    text-align: center;
    color: var(--grey);
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 767px) {
    .container {
        padding: 50px 20px;
    }
}
