.container {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: var(--rose);
    box-shadow: 0 0 10px var(--rose);
}

.logo {
    width: 100%;
    max-width: 300px;
}

.logo img {
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataTitle {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.dataInfo {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dataInfoItem {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.dataInfoItem svg {
    font-size: 20px;
    color: black;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialTitle {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.socialIcons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socialIcons svg {
    padding: 8px;
    font-size: 30px;
    color: black;
    border: 2px solid white;
    border-radius: 50%;
}

.socialIcons svg:hover {
    color: var(--rose);
    background-color: white;
    transition: 0.3s;
}

@media (max-width: 991px) {
    .container {
        flex-direction: column;
    }
}
